*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    width: 100%;
    font-family: font-family 'Fredoka', sans-serif;
}
#login{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    width: 500px;
    height: 50px;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    position: relative;
}
a{
    padding: 0px 20px;
    text-decoration: none;
    color: #222222;
}
.info2{
    position:absolute;
    right: 0px;
}
.btn_inizia{
    font-size: 13px;
    padding: 6px 15px;
    background-color: #0061ff;
    border: none;
    color: white;
}
#presentation{
    width: 100%;
    height: 700px;
    background-color: #b4d0e7;
    padding: 70px 0px;
}
#titolo{
    width: 1000px;
    height: 200px;
    margin: auto;
}
h1{
    font-size: 80px;
}
.block1{
    margin: auto;
    width: 1000px;
    height: 520px;
    display: flex;
}
.spiegazione{
    width: 400px;
    height: 410px;
    margin: 5px 0px;
    position: relative;
}
.spiegazione > p {
    padding-bottom: 25px;
    font-size: 19px;
    margin-top: 10px;
}
.spiegazione > button {
    margin: 18px 0px;
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 7px 10px;
    font-size: 19px;
}
.spiegazione > i {
    position: absolute;
    bottom: 0;
    font-size: 38px;
}
.immagine1{
    width: 600px;
    height: 96%;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    margin: 10px 10px;
    padding: 20px 0px;
}
main{
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
}
.container{
    width: 100%;
    height: 1500px;
}
h2{
    font-size: 30px;
    padding: 25px 0px;
}
.block2{
    width: 100%;
    height: 1300px;
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.column{
    width: calc(92% / 3);
    height: 920px;
    margin: 10px 0px;
    border: black 1px solid;
}

.row{
    width: 100%;
    height: 40px;
    border-bottom: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row > span {
    padding: 0px 7px;
}
h3 {
    font-size: 25px;
    padding: 13px 10px;
}
.column > div > p {
    padding: 8px 10px;
}
.block3{
    margin: 20px 10px;
    width: 250px;
    height: 340px;
    border-bottom: black 1px solid;
}
.block3 > div {
    margin: 30px 0px;
}
.provagratis{
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 10px 0px;
    width: 100%;
    margin: 25px 0px;
}
.block3 > a {
    text-decoration: underline;
    color: #0061ff;
}
.block4{
    margin: 20px 10px;
    width: 250px;
}
.block4 > h4 {
    padding: 20px 0px;
}
ul{
    list-style: none;
    margin: 20px 0px;
}
li{
    padding: 10px 0px;
}
.spunta{
    color: #0061ff;
}
.columnorizzontal{
    width: 100%;
    height: 230px;
    border: black 1px solid;
}
.block5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockorizzontal {
    width: 97%;
    height: 170px;
    display: flex;
}
.column2{
    width: 600px;
}
.column2 > h4{
    padding: 17px 10px;
}
.column2 > p {
    padding: 0px 10px;
}
.column3 {
    position: relative;
    width: 270px;
}
.column3 > button {
    margin: 18px 0px;
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    position: absolute;
    right: 0;
    
}
.container2{
    width: 100%;
    height: 500px;
}
.block6{
    width: 100%;
    height: 100%;
    display: flex;
}
.column4{
    width: 60%;
    height: 100%;
    background-image: url(./img/partner.png);
    background-size: cover;
}
.column5{
    width: 40%;
    height: 100%;
    padding: 50px 20px;
}
.column5 > h3 {
    padding: 0px;
}
.column5 > p {
    padding: 30px 0px;
    font-size: 19px;
}
.column5 > button {
    border: black 1px solid;
    padding: 10px 14px;
    margin-top: 20px;
}